# Exclude globs

**/.DS_Store
**/.idea/**
**/venv/**
**/incomplete/**
**/.idea/
**/venv/
**/incomplete/
Documents/scripts/macos/brew_cav_*
java_error_in_idea_*
*.log
*.json
*.lock
*~

# Exclude files

.bash_profile
.boto
.bro
.CFUserTextEncoding
.condarc
.duc.db
.emacs.d/
.emulator_console_auth_token
.goomph/ide-workspaces/Robecca-1305353407-owner
.grails_history
.groovy/groovysh.history
.gsutil/metrics.log
.ipython/profile_default/db/dhist                        
.ipython/profile_default/history.sqlite 
.ipython/profile_default/startup/README
.ipython/profile_m/startup/README
.iterm2_shell_integration.zsh
.ivy2/.sbt.ivy.lock
.ivy2/exclude_classifiers
.ivy2/exclude_classifiers.lock
.kube/config
.lesshst
.mkshrc
.mysql_history
.node_repl_history
.procs.bk
.python_history
.quicktype.save
.redhat/anonymousId
.rediscli_history
.spacemacs
.spacemacs.env
.sqlite_history
.taskrc
.tig_history
.viminfo
.wget-hsts
.yarnrc
.zcd_backup
.zcompdump
.zoxide/db.zo
.zlogin
.zprofile
.zsh_history
.zshrc
Documents/.localized 
Documents/magicnumber
Documents/scripts/scratch
OneDrive




# Exclude Folders

.android/
.azure/
.azuredatastudio/
.AzureToolsForIntellij/
.aws-sam/
.aws/
.cache/
.cargo/
.cdk/
.conda/
.config/atuin/
.config/calcurse/
.config/dr.extra.config/
.config/filezilla/
.config/fontforge/
.config/gcloud/
.config/gh/
.config/gitui/
.config/github-copilot/
.config/gtk-2.0/
.config/hoard/
.config/HYXDevPsnList/
.config/iterm2/
.config/karabiner/automatic_backups/
.config/kitty/.kitty.conf.swp
.config/mc/
.config/MobileBackupForeverIni/
.config/noscript/
.config/nvim/
.config/qalculate/
.config/rclone/
.config/s-tui/
.config/wireshark/
.config/Wondershare/
.config/Wondershare\USBResTemp\DrFoneBackup/
.config/Wondershare\USBResTemp\DrFoneRecovery/
.config/wtf/
.config/yarn/
.cookiecutter_replay/
.docker/
.dotfiles/
.dropbox/
.gem/
.gnupg/
.go/
.gradle/
.iterm2/
.ivy2/
.java-caller/
.jbang/cache/
.jrebel/
.local/
.m2/
.mono/
.neo4j/
.npm/
.nvm/
.openjfx/
.oracle_jre_usage/
.packetproxy/
.parallel/
.projector-launcher/
.Protege/
.Puffin/
.rbenv/
.rustup/
.rvm/
.sbt/
.sdkman/
.ssh/
.sonarlint/
.subversion/
.swiftpm/
.swt/
.task/
.termdbms/
.terminfo/
.tldrc/
.tor/
.Trash/
.visidata/
.vscode/extensions/
.w3m/
.wine/
.xrebel/
.zsh_sessions/
Applications/
BigFix/
chromeJunk/
Desktop/
Documents/00quickpics/
Documents/2Vault/
Documents/bin/
Documents/data/
Documents/docs/
Documents/GitHub/githubiosite/
Documents/lib/
Documents/p/
Documents/pics/
Documents/playground/
Documents/projects/
Documents/rants/
Documents/reference/
Documents/removewacom/
Documents/scripts/install/
Documents/scripts/links/
Documents/scripts/linkablewiggle/
Documents/scripts/learning/
Documents/scripts/rc/local/
Documents/scripts/rc/gradle/lib/
Documents/scripts/util/local/
Documents/scripts/util/whacky/
Documents/unsorted_mess/
Documents/workspaces/
Library/
Downloads/
Dropbox/
Movies/
Music/
node_modules/
Onedrive/
Pictures/
Public/
Standard Notes Backups/
links/






# Added from tig - should sort
Documents/scratch/CurlProabd
Documents/scripts/util/fontpatcher.py
bettercap.history
bettersniff
haxor.xtf

Documents/scripts/util/macos_screentime
Documents/scripts/eishelpers
Documents/local/.gitconfig.local
Documents/notes/
Documents/permitme.xlsx
Documents/scripts/rc/eis-curation-local-cyberdyne/
Documents/junk.idea.tar
Documents/ts01.xlsx
OneDrive - The Kroger Co
cert_tasks
.gitignore.orig
.config/delta.themes
.npmrc
Documents/scripts/util/teams_call
.DS_Store
.config/.jira/.config.yml
.minikube/logs/lastStart.txt
dq_rerun.FAIL
revist_these_guy.filelist
testjunk
Documents/aaa/shiny-octo-rotary-phone/
Documents/NoMachine/buntr.nxs
Documents/3trashbound/
Documents/2share/
.yarn/**/cache/
.nx/
