**/.DS_Store
**/.idea/**
**/venv/**
**/incomplete/**
.ssh/*
Documents/scripts/links/**
Documents/scripts/rc/local/**
Documents/scripts/rc/local/**


.AzureToolsForIntellij/*
.android/*
.azure/*
.azuredatastudio/*
.bash_profile
.CFUserTextEncoding
.cache/*
.cargo/*
.config/gitui/*
.config/gtk-2.0/*
.docker/*
.dotfiles/*
.gradle/*
.jbang/*
.lesshst
.local/*
.m2/*
.npm/*
.nvm/*
.python_history
.rustup/*
.sdkman/*
.sonarlint/*
.tig_history
.vscode/*
.zcompdump
.zoxide/db.zo
.zprofile
.zsh_history
.zsh_sessions/*
Applications/*
BigFix/*
Desktop/*
Documents/data/*
Documents/projects/*
Library/*
Downloads/*
Movies/*
Music/*
Pictures/*
Public/*
links/*
