[submodule "Documents/scripts/rc/modules/marlonrichert"]
	path = Documents/scripts/rc/modules/marlonrichert
	url = https://github.com/marlonrichert/zsh-autocomplete.git
[submodule "Documents/scripts/rc/modules/clipboard"]
	path = Documents/scripts/rc/modules/clipboard
	url = https://github.com/zpm-zsh/clipboard.git
[submodule "Documents/scripts/rc/modules/auto-ls"]
	path = Documents/scripts/rc/modules/auto-ls
	url = git@github.com:desyncr/auto-ls.git
[submodule "Documents/scripts/eishelpers"]
	path = Documents/scripts/eishelpers
	url = git@github.com:krogertechnology/eis-curation-helpful-helpers.git
