# NO SHEBANG BECAUSE THIS WILL BE SOURCED
# vim: set ft=zsh:ts=2:et:

need -v lsd && {
  function l(){
    lsd -l
  }
  function la(){
    lsd -la
  }
}

need -v exa && {

  function x() {
    unset lvl
    randoParams=()
    pathVal=$(pwd)
    while [ $# -gt 0 ]; do
      case "$1" in
        <->)
          lvl=$1
        ;;
        *)
          if [ -d "$1" ] || [ -f "$1" ]; then
            pathVal="$1"
          else
            randoParams+=($1)
          fi
        ;;
      esac
      shift
    done
	  exa --oneline --classify --tree --long --binary --group --header --links --inode --modified --blocks --git --group-directories-first --sort=name --icons --color=always --color-scale --level=${lvl:-1} ${randoParams[@]} "$pathVal"
  }

  export AUTO_LS_COMMANDS=(x)

  function auto-ls-x () {
    x
    [[ $AUTO_LS_NEWLINE != false ]] && echo ""
  }

  function xa(){
      x -a $*
  }
}

