# NO SHEBANG BECAUSE THIS WILL BE SOURCED
# vim: set ft=zsh:ts=2:et:

nvmsh="/opt/homebrew/opt/nvm/nvm.sh"
export NVM_DIR="$HOME/.nvm"
lazyLoadNvm(){
  allTerms="$*"
  firstTerm="${allTerms%% *}"
  remainingTerms="${allTerms#* }"
  unalias nvm
  unalias npm
  unalias node
  source "$nvmsh"
  $firstTerm $remainingTerms
}

[ -r "$nvmsh" ] && {
  alias nvm=lazyLoadNvm nvm
  alias npm=lazyLoadNvm npm
  alias node=lazyLoadNvm node
}



nvmcompletions="/opt/homebrew/opt/nvm/etc/bash_completion.d/nvm"
{
  [ -r "$nvmcompletions" ] && source "$nvmcompletions"
} || echo "Failed to source completions: $nvmcompletions"

