# NO SHEBANG BECAUSE THIS WILL BE SOURCED
# vim: set ft=zsh:ts=2:et:

source $RC_FOLDER/local/aliases.zrc

need ifconfig && need jc && need jq && need_free -v 'net-if' && alias net-if="ifconfig | jc --ifconfig | jq -r '.[] | .name'"
need_free -v 'chrome' && alias chrome='/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome --remote-debugging-port=9123'

need jbang && {
  need_free -v 'jbc' && alias jbc='jbang -c'
  need_free -v 'jbi' && alias jbi='jbang -i'
}

need_free -v 'gcam' && alias gcam='git commit -am'
need_free -v 'gp' && alias gp='git pull'
need_free -v 'gpo' && alias gpo='git push origin'
need_free -v 'gnom' && alias gnom="git remote show \$(git remote) | gawk '/HEAD branch/ {print \$NF}'"


# Dotfiles config shortcuts
need_free -v 'dtf' && alias dtf="git --git-dir=$HOME/.dotfiles --work-tree=$HOME"
need lazygit && {
  need_free -v 'ldtf' && alias ldtf="lazygit --git-dir=$HOME/.dotfiles --work-tree=$HOME"
}
need_free -v 'dtfs' && alias dtfs="git --git-dir=$HOME/.dotfiles --work-tree=$HOME status"
need_free -v 'dtfc' && alias dtfc="git --git-dir=$HOME/.dotfiles --work-tree=$HOME config"
need_free -v 'dtfls' && alias dtfls="git --git-dir=$HOME/.dotfiles --work-tree=$HOME ls-tree -r --name-only HEAD"
need_free -v 'dtfrm' && alias dtfrm="git --git-dir=$HOME/.dotfiles --work-tree=$HOME rm --cached"
need -v tig && {
  need_free -v ftd && alias ftd="GIT_DIR=$HOME/.dotfiles GIT_WORK_TREE=$HOME tig"
}
need_free -v 't' && alias t='type -aS'


# alias mps='sudo ps -axo acflag,pid,ruser,rgid,ppid,etime,time,utime,flags,state,pri,wq,wqb,wqr,xstat,args'


# pm* short for package manager
# alias pmi='brew install'
# alias pml='brew list'

need -v '/usr/local/bin/advcp' && alias cp='/usr/local/bin/advcp -gaui'
need -v '/usr/local/bin/advmv' && alias mv='/usr/local/bin/advmv -gui'
need_free -v 'mkd' && alias mkd='mkdir -pv'

# Use mps script instead
# alias mps='sudo ps -axo acflag,pid,ucomm,ruser,rgid,ppid,etime,time,utime,flags,state,pri,wq,wqb,wqr,xstat,args'
# alias mps='sudo ps -amxo pid,ruser,rss,etime,time,utime,args | head -n10'

need -v $MK_SCRIPTS/util/pps && alias pps='sudo $MK_SCRIPTS/util/pps'
need procs && need_free -v 'mpr' && alias mpr='sudo procs --pager disable '
need zenith && need_free -v 'mpz' && alias mpz='sudo zenith'
need glances && need_free -v 'mpg' && alias mpg='sudo glances'
need htop && {
  need_free -v 'mtop' && alias mtop='sudo htop'
  alias htop='sudo htop'
}
need px && {
  need_free -v 'mpx' && alias mpx='sudo px'
  need_free -v 'mpxt' && alias mpxt='sudo px --top'
  alias ptop='sudo ptop'
}
need "$HOME/Documents/p/src/glances/ogogog.py" && need_free -v 'mgg' && alias mgg="sudo /Users/m/Documents/p/src/glances/ogogog.py"
# Climate might be stupid?  Maybe I need to use it more...
need climate && need_free -v c && alias c='climate'

need -v quickserve && need_free -v qs && alias qs='quickserve'

# Hex viewer
# need xxd && need_free -v xd && alias xd='xxd -l 256 -c 16'
need fx && {
  need_free -v fxpq && alias fxpq='fx --print-code'
  need_free -v fxpp && alias fxpp="{tee >(clip) | fx --print-code | gxargs -I %%%%% \$(jq '%%%%%' <(clip))} <"
  need_free -v fxpc && alias fxpc="tee clip | fx --print-code | gxargs -I %%%%% \$(jq -rcMa --unbuffered '%%%%%' <clip)"
  # need_free -v fxp && alias fxp="fx --print-code | gxargs -I %%%%% jq '%%%%%'"
}
need -v delta && alias ∂='delta'
# need -v fzf && alias mf='fzf -m --ansi --tabstop=2 --black --preview="b {}"'

need ipython && need_free -v iii && alias iii='ipython --autocall=2'
need -v python3 && {
  need_free -v p3 && alias p3='python3'
  need pip && alias pip='python3 -m pip'
  alias saws='source ~/.saws/venv/bin/activate; saws'
}

alias dec2hex='gxargs -I %%%% echo "ibase=10;obase=16;%%%%" | bc'

need -v rg && need_free -v scour && function scour(){
  rg -uuu --ignore-case --no-config -M $((COLUMNS - 30)) --max-columns-preview -m 10 "$@" /
}

need emoji-fzf && need fzf && need_free -v efp && alias efp="emoji-fzf preview | fzf"

alias ...=../..
alias ....=../../..
alias .....=../../../..
alias ......=../../../../..
alias .......=../../../../../..
alias ........=../../../../../../..
alias .........=../../../../../../../..
alias ..........=../../../../../../../../..
alias ...........=../../../../../../../../../..
alias ............=../../../../../../../../../../..