# NO SHEBANG BECAUSE THIS WILL BE SOURCED
# vim: set ft=zsh:ts=2:et:

need -v brew && export BPRE="$(brew --prefix)"

export LC_ALL=en_US.UTF-8

[ -d /opt/homebrew/opt/libffi ] && {
  export LDFLAGS="-L/usr/local/opt/libffi/lib"
  export CPPFLAGS="-I/opt/homebrew/opt/libffi/include"
  export PKG_CONFIG_PATH="/usr/local/opt/libffi/lib/pkgconfig"
}

need ipython && {
  export PYTHONSTARTUP=~/scripts/rc/python/ipythonstartup.py
  export IPYTHONDIR=~/.ipython
}

IMSGDB="$HOME"/Library/Messages/chat.db
[ -r "$IMSGDB" ] && {
  export IMSGDB="$IMSGDB"
  need gobang && export GOBANGIMSG="[[conn]]\\ntype = \"sqlite\"\\npath = \"$IMSGDB\"\\n"
}


export FD_STDIN=/dev/fd/0
export FD_STDOUT=/dev/fd/1
export FD_STDERR=/dev/fd/2

export NEO4J_HOME='/Users/m/.neo4j'
export NEO4J_CONF='/Users/m/.neo4j/conf'

# Go development
need -v go && {
  export GOPATH="${HOME}/.go"
  #export GOROOT="$(brew --prefix golang)/libexec"
  # brew --prefix takes like 0.6 seconds.  Terrible.
  export GOROOT=/opt/homebrew/opt/go/libexec
  export GOOS=darwin 
  export GOARCH=arm64
  export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"
  test -d "${GOPATH}" || mkdir "${GOPATH}" || echo "Failed to mkdir (GOPATH) ${GOPATH}"
  go_github="${GOPATH}/src/github.com"
  test -d "${go_github}" || mkdir -p "${go_github}" || echo "Failed to mkdir (go_github) ${go_github}"
}

need -v fzf && need -v bat && export FZF_DEFAULT_OPTS="--ansi --preview-window 'right:60%' --preview 'bat --color=always --style=header,grid --line-range :300 {}'"



export _ZO_DATA_DIR="$HOME/.zoxide"

export PM="$MK_SCRIPTS/install/package_manager/pm"
export PACKAGE_MANAGER=brew
