# NO SHEBANG BECAUSE THIS WILL BE SOURCED
# vim: set ft=zsh:ts=2:et:

need brew && export BPRE="$(brew --prefix)"
export DOTFILES_DIR="$HOME/.dotfiles"

export PS_o=(pid pmem rss cputime ruid ppid ucomm)

export LC_ALL=en_US.UTF-8

[ -d /opt/homebrew/opt/libffi ] && {
  export LDFLAGS="-L/opt/homebrew/opt/libffi/lib"
  export CPPFLAGS="-I/opt/homebrew/opt/libffi/include"
  export PKG_CONFIG_PATH="/opt/homebrew/opt/libffi/lib/pkgconfig"
}

[ -x /opt/homebrew/bin/python3 ] && export PYTHON=/opt/homebrew/bin/python3

export PYENV_ROOT="$HOME/.pyenv"
command -v pyenv >/dev/null || export PATH="$PYENV_ROOT/bin:$PATH"
eval "$(pyenv init -)"

need ipython && {
  export PYTHONSTARTUP=~/scripts/rc/python/ipythonstartup.py
  export IPYTHONDIR=~/.ipython
  # export PYTHON='/opt/homebrew/opt/python@3.9/Frameworks/Python.framework/Versions/3.9/bin/python3'
}

IMSGDB="$HOME"/Library/Messages/chat.db
[ -r "$IMSGDB" ] && {
  export IMSGDB="$IMSGDB"
  need gobang && export GOBANGIMSG="[[conn]]\\ntype = \"sqlite\"\\npath = \"$IMSGDB\"\\n"
}

if need nvim; then
  export EDITOR=nvim
elif need vim; then
  export EDITOR=vim
else
  export EDITOR=vi
fi


export FD_STDIN=/dev/fd/0
export FD_STDOUT=/dev/fd/1
export FD_STDERR=/dev/fd/2

# export NEO4J_HOME='/Users/m/.neo4j'
# export NEO4J_CONF='/Users/m/.neo4j/conf'

# Go development
need -v go && {
  export GOPATH="${HOME}/.go"
  #export GOROOT="$(brew --prefix golang)/libexec"
  # brew --prefix takes like 0.6 seconds.  Terrible.
  export GOROOT=/opt/homebrew/opt/go/libexec
  export GOOS=darwin 
  export GOARCH=arm64
  export PATH="$PATH:${GOPATH}/bin:${GOROOT}/bin"
  test -d "${GOPATH}" || mkdir "${GOPATH}" || echo "Failed to mkdir (GOPATH) ${GOPATH}"
  go_github="${GOPATH}/src/github.com"
  test -d "${go_github}" || mkdir -p "${go_github}" || echo "Failed to mkdir (go_github) ${go_github}"
}

BATCMD=bat

if need batcat; then
  BATCMD=batcat
fi

export BATCMD

need -v fzf && {
  need -v $BATCMD && export FZF_DEFAULT_OPTS="--ansi --preview-window 'right:40%' --preview='fzf_dispatch {}'"
}



export _ZO_DATA_DIR="$HOME/.zoxide"
export _ZO_FZF_OPTS="--ansi --preview='fzf_dispatch {2..-1}'"

#export PM="$MK_SCRIPTS/install/package_manager/pm"
#export PACKAGE_MANAGER=brew
