# alias mps='sudo ps -axo acflag,pid,ruser,rgid,ppid,etime,time,utime,flags,state,pri,wq,wqb,wqr,xstat,args'


# pm* short for package manager
alias pmi='brew install'
alias pml='brew list'
# pmf is package manager inFo.  It's a script in a separate file so piping works better than a function.

# package manager Search
alias pms='brew search --formula --cask --desc'
# function pms(){
#     found_cask='NO'
#     tf="$(mktemp)"
#     brew search $1 > "$tf"
#     td="$(mktemp -d)"
#     cask_line_with_leading_num="$(grep -n '==> Cask' "$tf")"
#     cask_line_num=${cask_line_with_leading_num%%:*}
#     if [ -z ${cask_line_num:+x} ]
#         then cat "$tf"
#         else head -n $cask_line_num "$tf"; fi | 
#             xargs -n 1 "$HOME"/scripts/pmf | column -s '@@@' -t
# }

    # env_parallel.zsh -j2 --env pmf pmf {}
    # while IFS= read -r line && [ ${line:+x} = 'x' ] && [ "$(expr $line : '==> Cask')" -lt 5 ]; do
    #     [ "$(expr $line : '==>')" -lt 3 ] && {
    #         brew info $line | gawk -v appname="$line" -f "$HOME"/scripts/brew_info.gawk
    #     }
    # done
