

# Use mps script instead
# alias mps='sudo ps -axo acflag,pid,ucomm,ruser,rgid,ppid,etime,time,utime,flags,state,pri,wq,wqb,wqr,xstat,args'
# alias mps='sudo ps -amxo pid,ruser,rss,etime,time,utime,args | head -n10'

alias mpr='sudo procs --pager disable '
alias mpz='sudo zenith'
alias mpg='sudo glances'
alias mtop='sudo htop'
alias mpx='sudo px'
alias mpxt='sudo px --top'
