need -v exa && {

function x() {
  unset lvl
  randoParams=()
  pathVal=$(pwd)
  while [ $# -gt 0 ]; do
      case "$1" in
          <->)
              lvl=$1
              ;;
          *)
              if [ -d "$1" ] || [ -f "$1" ]; then
                  pathVal="$1"
              else
                  randoParams+=($1)
              fi
              ;;
      esac
      shift
    done
	  exa --oneline --classify --tree --long --binary --group --header --links --inode --modified --blocks --git --group-directories-first --sort=name --icons --color=always --color-scale --level=${lvl:-1} ${randoParams[@]} "$pathVal"
  }

  function xa(){
      x -a $*
  }
}

